<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type=text/javascript>
			$(function() {
			  $('a#lnk-switch').bind('click', function() {
				$.getJSON('/switch', {
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
    <script type=text/javascript>
			$(function() {
			  $('a#lnk-add_playlist').bind('click', function() {
				$.getJSON('/add_to_playlist', {
				  url: $('input[name="url"]').val(),
				  type: $('select[name="type"]').val(),
				  time: $('input[name="time"]').val(),
				  zoom: $('input[name="zoom"]').val(),
				  startat: $('input[name="startat"]').val(),
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
    <script type=text/javascript>
			$(function() {
			  $('input#lnk-add_playlist').bind('click', function() {
				$.getJSON('/add_to_playlist', {
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
    <script type=text/javascript>
			$(function() {
			  $('a#lnk-playlist').bind('click', function() {
				$.getJSON('/playlist', {
				  proglang: $('input[name="proglang"]').val(),
				}, function(data) {
				$('#turl').text('');
				var eachrow = "<table><tr>"
                 + "<td>STARTAT</td>"
                 + "<td>TYPE</td>"
                 + "<td>TIME</td>"
                 + "<td>ZOOM</td>"
                 + "<td>URL</td>"
                 + "</tr>";
				$.each(data.sites, function(i, item) {
				eachrow = eachrow + "<tr>"
                 + "<td>" + item.startat + "</td>"
                 + "<td>" + item.type + "</td>"
                 + "<td>" + item.time + "</td>"
                 + "<td>" + item.zoom + "</td>"
                 + "<td>" + item.url + "</td>"
                 + "</tr>";
				  });
				  eachrow = eachrow + "</table>";
				  $('#turl').append(eachrow);
				});
				return false;
			  });
			});
		</script>
    <script type=text/javascript>
			$(function() {
			  $('a#lnk-clear').bind('click', function() {
				$.getJSON('/clear_playlist', {
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
    <script type=text/javascript>
			$(function() {
			  $('a#lnk-stop').bind('click', function() {
				$.getJSON('/stop', {
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
    {% if title %}
    <title>{{ title }} - Dasher</title>
    {% else %}
    <title>Welcome mini dasher</title>
    {% endif %}
  </head>
  <body>
    <div>Dasher: <a href="/">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
