<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

      <h3>Simple Dasher Controler</h3>
  <div><a id=lnk-switch  href="/switch">Start / Switch</a></div>
  <div><a id=lnk-stop    href="/stop">Stop</a></div>
  <div><a id=lnk-clear    href="/clear_playlist">Clear Playlist</a></div>
  <div><a id=lnk-playlist href="/playlist">Show Playlist json</a></div>
  <!--<div><a id=lnk-add_playlist href="/add_to_playlist">Add to Playlist</a></div>-->
  <div><a href="/playlist_view">Playlist View</a></div>


<div><p id=result> </p></div>
<div><p id=turl> </p></div>

{% endblock %}