<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

      <h3>Simple Dasher Controler</h3>
  <div><a id=lnk-switch  href="/switch">Start / Switch</a></div>
  <div><a id=lnk-stop    href="/stop">Stop</a></div>
  <div><a id=lnk-clear    href="/clear_playlist">Clear Playlist</a></div>
  <div><a id=lnk-playlist href="/playlist">Show Playlist json</a></div>
  <!--<div><a id=lnk-add_playlist href="/add_to_playlist">Add to Playlist</a></div>-->
  <div><a href="/playlist_view">Playlist View</a></div>

<form  method="get" name="add_to">
      <p>
          Type:
          <select name="type">
              <option value="chrome">chrome</option>
              <option value="mxplayer">mxplayer</option>
              <option value="stream">stream</option>
              <option value="raspistill">rapistill</option>
              <option value="usbcam">usbcam</option>
          </select>
          Time:
          <input type="text" name="time" size="4" value="90">
          Start At:
          <input type="text" name="startat" size="9" value="00:00:00">
          Zoom:<input type="text" name="zoom" size="4" value="1"><br>
          Screenshot:<select name="screenshot"><option value="true">true</option><option value="false">false</option></select>
          Delay:<input type="text" name="delay" size="4" value="20"/>
          Device:<input type="text" name="device" size="4" value="0"/>
          Prefix:<input type="text" name="prefix" size="6" value="screenshot"/>
          Play url:
        <input type="text" name="url" size="80">
      </p>
      <a href=# id=lnk-add_playlist><button class='btn btn-default'>Submit</button></a>
  </form>


<div><p id=result> </p></div>
<div><p id=turl> </p></div>

{% endblock %}